<div flex-gt-sm="90" flex-gt-md="80" class="px-4 text-center">
  <p class="md-title inset">This awesome AngularJS app has no commercial intents. <br /> It is developed just for fun ;)</p>
  <p><img src="images/fun.gif" /></p>
  <p>
      It uses JSON feeds to gather the live sport game scores and the live-stream links (along with authorization IDs) <Br />then display everything in a mobile-friendly, good looking layout using Google's Material Design Concept.
  </p>
  <!--<md-card>
    <md-list>
      <md-list-item class="md-3-line" ng-repeat="item in activity | filter:search">
        <md-icon class="md-avatar" hide-sm>account_box</md-icon>
        <div class="md-list-item-text">
          <h3>{{item.what}}</h3>
          <h4>{{item.who}}</h4>
          <p>{{item.notes}}</p>
        </div>
        <md-divider md-inset hide-sm ng-if="!$last"></md-divider>
        <md-divider hide-gt-sm ng-if="!$last"></md-divider>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item>
        <md-button class="md-primary">
          <md-icon aria-label="Forward">add</md-icon>
          <span>More</span>
        </md-button>
      </md-list-item>
    </md-list>
  </md-card>-->
</div>
